<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_NavigatorIService" openTimeout="01:10:00"
                 closeTimeout="01:10:00"
                 sendTimeout="01:10:00"
                 receiveTimeout="01:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50681/NavigatorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_NavigatorIService"
                contract="NavigatorService.NavigatorIService" name="BasicHttpBinding_NavigatorIService" />
        </client>
    </system.serviceModel>
</configuration>